
:root {
  --color-primary: #08A6E4;
  --color-primary-shadow: rgba(7, 172, 230, .16);
  --color-redish: #FB3B64;
  --color-green: #55DFB4;
  --color-black: #000000;
  --color-grey: #A5A5A5;
  --color-light-grey: #F7F7F7;
  --color-white: #FFFFFF;
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans)
} 

.container {

  margin: 0 auto;
}

.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: 35px;
  border: none;
}

.logo {
  font-family: var(--font-raleway);
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-primary);
}



/*bshop header*/

.bshop-header {
  height: 70px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.header-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}    
  
.header-logo {
  font-size: 32px;
  text-decoration: none;
  font-family: 'Raleway ', sans-serif;
  font-weight: 300;
  color:var(--color-primary) ;
}

.header-nav-list{
  display: flex;
}

.header-nav-el {
  padding: 0 26px;
}

.header-nav-link {
  
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 28px 18px 22px;
  text-decoration: none;
  color: var(--color-grey);
  letter-spacing: 3.28px;
  border-bottom: 4px solid transparent;
} 

.header-nav-link:hover{
  color: var(--color-black);
  border-color: var(--color-primary);
}

/*bshop-opening-section*/

.opening-section {
  text-align: center;
  margin-top: 130px;
}

.opening-title {
  line-height: 57px;
  font-size: 49px;
  font-family: 'Raleway', sans-serif;
}

.opening-text {
  line-height: 22px;
  font-size: 16px;
  margin-top: 22px;
  margin-bottom: 38px;
}

.opening-image {
  width: 100%;
  height: auto;
}

.opening-btn {
  display: inline-block;
  background: #08A6E4 0% 0% ;
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  padding: 22px 157px;
}   

/*bshop-statistic-section*/

.bshop-statistic-section {
  margin-top: 100px;
}

.statistic-header {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  font-family: var(--font-raleway);
}

.statistic-element {
  max-width: 880px;
  margin: 100px auto 120px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  text-align: center;
  font-family: var(--font-raleway);
}

.statistic-logo {
  position: relative;
  border-radius: 50%;
  width: 63px;
  height: 63px;
}

.statistic_img {
  position: absolute;
}

.statistic-numb {
font-size: 1.25rem;
font-weight: 800;
letter-spacing: 0.1875rem;
margin-top: 13px;
}

.statistic-text {
  color: var(--color-grey);
  padding-top: 19px;
}

.statistic-el-1 .statistic-logo {
  background-color: var(--color-redish); 
}

.statistic-el-2 .statistic-logo {
  background-color:var(--color-primary) ; 
}

.statistic-el-3 .statistic-logo {
  background-color:var(--color-green) ; 
}

.statistic-el-1 .statistic_img {
  top: 0;
left: 50%;
}

.statistic-el-2 .statistic_img {
  top: 13px;
  left:50%;
}

.statistic-el-3 .statistic_img {
  top: 6px;
  left: 50%;
}

/*bshop-benefit*/


.bshop-benefit{
  padding: 106px 0;
  background: var(--color-light-grey);
}

.benefit-container {
  padding: 0 100px;
}    
 
.benefit-conteiner-box {
  width: 1124px;
  height: 370px;
  background-color: var(--color-white);
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content:space-between ;
  align-items: flex-end;
  margin-bottom: 37px;
  border-radius: 5px;
}   
  
.benefit-article {
  box-sizing: content-box;
  max-width: 415px;
  margin: 90px 36px;
}

.benefit-article::after {
  content: "";
  width: 328px;
  height: 4px;
  background-color: #FB3B64;
  display: block;
  margin-top: 50px;
}

.benefit-article-second::after {
  background-color: #08A6E4;
}

.benefit-article-third::after {
  background-color: #55DFB4;
}

.benefit-title {
  font-size: 36px;
  font-weight: normal;
  font-family: var(--font-raleway);
  color: var(--color-black);
  text-align: left;
}

.benefit-image {
  position: relative;
}

.benefit-image img {
  position: relative;
  z-index: 2;
}

.benefit-container-first .benefit-image img{
  width: 386px;
  height: auto;
  position: relative;
  z-index: 2;
}

.benefit-container-first .benefit-image {
  margin-right: 117px;
  margin-bottom: 38px;
}


.benefit-container-first .benefit-image::before{
  content: "";
  width: 180px;
  height: 180px;
  background-color:var(--color-redish) ;
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}

.benefit-container-second {
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}

.benefit-container-second .benefit-image::before {
  content: "";
  width: 320px;
  height: 320px;
  background-color:#07ACE6 ;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -20px;
}

.benefit-container-second .benefit-image img {
  width: 426px;
  height: auto;
}

.benefit-container-second .benefit-text {
  margin: 70px 0
}

.benefit-container-third {
  display: flex;
}

.benefit-container-third > div {
  margin-bottom: 0;
}

.container-third-el1 {
  max-width: 620px;
}

.container-third-el1 .benefit-article {
  max-width: none;
  margin: 70px 35px;
}


.conteiner-third-el2 {
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green);
  border: none;
  margin-left: 60px;
}

.conteiner-third-el2  img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}

/*bshop-pricing*/

.bshop-pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-title {
  font-size: 36px;
  text-align: center;
  font-family: var(--font-raleway);
}

.pricing-containers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pricing-container {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  
}

.pricing-elements {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing-container-basic {
  border: 1px solid var(--color-redish);
  margin-bottom: 30px;
}

.pricing-container-professional {
  border: 1px solid var(--color-primary);
  margin-bottom: 30px;
}

.pricing-container-premium {
  border: 1px solid var(--color-green);
  margin-bottom: 30px;
}

.pricing-element-type {
  font-size: 24px;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing-element-price {
  font-size: 46px;
  font-family: var(--font-open-sans);
  font-weight: 300;
  margin-top: 30px;
}

pricing-element-limited {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  font-family: var(--font-raleway);
  font-weight: bold;
}

.pricing-details {
  text-align: center;
}

.pricing-detail {
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing-detail::before {
content: "";
width: 11px;
height: 11px;
display: inline-block;
margin-right: 10px;
background-image: url(../10_warsztat/assets/Checkmark-1.svg);
}

.pricing-detail-license-no::before {
  background-image: url(./assets/Close.svg);
}

.pricing-detail-support-no::before {
  background-image: url(./assets/Close.svg);
}

.btn {
  position: relative;
  bottom: -25px;
  font-size: 13px;
}

.btn-basic {
  background-color: var(--color-redish);
}

.btn-professional {
  background-color:var(--color-primary);
}

.btn-premium {
  background-color:var(--color-green);
}

.pricing-container-professional {
  width: 400px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing-element-type {
  font-size: 1.3125rem;
}

.pricing-container-professional  .pricing-detail {
  margin-bottom: 25px;
}

/*bshop-contact*/

.bshop-contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;
}

.contact-box {
  width: 50%;
}

.contact-title {
  font-size: 3.0625rem;
  line-height: 3.6875rem;
}

.contact-text {
  margin: 22px 0 42px;
  font-size: 1rem;
  line-height: 1.375rem
}

.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-grey);
}

.info-item {
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

.info-item:first-of-type {
  margin-right: 20px;
}

.info-item img {
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:first-of-type {
  margin-bottom: 42px;
}

.form-label {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
  line-height: 0.9rem;
  letter-spacing: 3px;
  font-size: 0.6875rem;
}

.form-input {
  border: none;
  border-bottom: 1px solid var(--color-grey);
  background-color: transparent;
  line-height: 2.625rem;
}

.form-consent {
  margin-top: 30px;
}

.form-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}

.form-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 4px;
}

.form-checkbox input:checked ~ .checkbox {
  background-image: url(../assets/Checkmark.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.form-checkbox .consent-text {
  margin: 0 10px;
  font-size: 0.75rem;
  color: var(--color-grey);
  line-height: 17px;
}

.form .btn {
  font-size: 0.8125rem;
  padding: 20px 97px;
  align-self: flex-end;
  margin-top: 20px;
  background-color: var(--color-primary);
}

/*bshop_footer*/

.footer {
  box-shadow: 0 -5px 40px #00000029;
  padding: 20px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__copy {
  font-size: 0.6875rem;
  line-height: 1.5rem;
  color: var(--color-grey);
  margin-top: 6px;
}

.footer__icons a:first-of-type {
  margin-right: 25px;
}